{% load static %}
<!-- START footer -->
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">BusBuggy</h2>
                    <p>We go anywhere you want to go, <br> giving you the best for <br> actual price.</p>
                    <ul class="ftco-footer-social list-unstyled mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'core:about' %}"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
                        <li><a href=" {% url 'core:faQ' %} "><span class="icon-long-arrow-right mr-2"></span>Meet the team</a></li>
                        <li><a href=" {% url 'core:faQ' %} "><span class="icon-long-arrow-right mr-2"></span>Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Company</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Carrier</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Blog</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Discover</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>InstaCash</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Zanzra</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Hedge</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>BugPress</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">15 Otunba Sheki St. Tedi Town,
                                   Ojo Barrack, Lagos, Nigeria</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 901 576
                                        5454</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope pr-4"></span><span
                                        class="text">info@busbuggy.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | </i> by <a
                        href="https://colorlib.com" target="">BusBuggy</a>

                </p>
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->